.tag {
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    padding: 3px 3px;
    font-size: 1.5em;
    font-weight: $font-weight-normal;
    color: #ffffff;
    margin-right: 10px;
}
